[package]
name = "good_lp"
version = "0.3.9"
authors = ["Ophir LOJKINE <contact@ophir.dev>"]
edition = "2018"
repository = "https://github.com/rust-or/good_lp"
documentation = "https://docs.rs/good_lp"
description = " Linear Programming for Rust, with an user-friendly API. This crate allows modeling LP problems, and lets you solve them with various solvers."
license-file = "LICENSE"
keywords = ["linear-programming", "optimization", "symbolic", "math", "solver"]
categories = ["mathematics", "algorithms", "science", "api-bindings", "data-structures"]
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html


[features]
default = ["coin_cbc"]

[dependencies]
coin_cbc = { version = "0.1", optional = true }
minilp = { version = "0.2", optional = true }
lpsolve = { version = "0.1", optional = true }
highs = { version = "0.3", optional = true }

[dev-dependencies]
criterion = "0.3"
float_eq = "0.5"

[[bench]]
name = "benchmark"
harness = false


[package.metadata.docs.rs]
# Display the documentation for all solvers on docs.rs
all-features = true
default-target = "x86_64-unknown-linux-gnu"
targets = ["x86_64-unknown-linux-gnu"]
rustdoc-args = ["--cfg", "docsrs"]